.car-form {
    .ant-modal-body {
        padding-top: 10px;
    }
    .ant-form-item {
        margin-bottom: 5px;
    }
    .ant-form-vertical .ant-form-item-label,
    .ant-col-24.ant-form-item-label,
    .ant-col-xl-24.ant-form-item-label {
        padding: 0;
    }
    .ant-upload-list-picture .ant-upload-list-item-thumbnail {
        width: auto;
    }
    .ant-upload-list-picture .ant-upload-list-item-thumbnail img, .ant-upload-list-picture-card .ant-upload-list-item-thumbnail img {
        width: auto;
    }
}

.brand-img {
    max-width: 100px;
    max-height: 100px;
}

.thumbnail-img {
    max-width: 100px;
    max-height: 100px;
}

.banner-img {
    max-width: 100px;
    max-height: 100px;
}
