.ant-layout-sider-light {
    /* flex: 0 0 230px;
    max-width: 230px !important; */
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-center {
    text-align: center;
}

.w-100 {
    width: 100% !important;
}

.p-0 {
    padding: 0 !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.m-0 {
    padding: 0 !important;
}

.app-version-box {
    margin: 0px;
    color: #777;
    text-align: center;
}

.app-version-box p {
    margin: 0;
}

#components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

.site-layout .site-layout-background {
    background: #fff;
}

.form-footer {
    margin-top: 20px;
}